.copyright {
    color: $text-color;
    font-size: 8px;
}

.contact__mail {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social__icon {
    width: 20px;
    height: 20px;
    margin: 4px;
}

.scroll { 
    position: fixed;   
    bottom: 40px; 
    right: 30px; 

    &__icon {
        width: 25px;
        height: 25px;
    }
} 

@media (min-width: 768px) {
    .contact__mail {
        width: 50px;
        height: 50px;
    }

    .social__icon {
        width: 40px;
        height: 40px;
        margin: 8px;
    }
}

@media (min-width: 992px) {
    .copyright {
        font-size: 12px;
    }

    .scroll {    
        bottom: 30px; 
        
        &__icon {
            width: 50px;
            height: 50px;
        }
    }
}